@model IEnumerable<KonusarakOgren.Models.exams_model>

@{
    ViewData["Title"] = "Exams";
}

<h1>Sınavlar</h1>

<p>
    <a asp-action="Create">Sınav Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.baslik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.baslik)
            </td>
            <td>
                @Html.ActionLink("Çöz", "Sinav", new { baslik=item.baslik }) |
                @Html.ActionLink("Sil", "Delete", new { baslik=item.baslik })
            </td>
        </tr>
}
    </tbody>
</table>
